.btn {
	margin: 1em;
	padding: 0.5em 1em;
	font-size: 1.5rem;
	outline: none;
	border: 3px solid var(--cta);
	border-radius: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: var(--cta);
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: transparent;
	}
	&.darkHoverFont {
		&:hover {
			color: var(--cta);
		}
	}
	&.transparent {
		background-color: transparent;
		&:hover {
			background-color: var(--cta);
		}
	}
	@media (min-width: 400px) {
		font-size: 1.8rem;
	}
	@media (min-width: 768px) {
		font-size: 2rem;
	}
	@media (min-width: 992px) {
		font-size: 2.2rem;
	}
	@media (min-width: 1200px) {
		font-size: 2.2rem;
	}
}
