.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	span {
		font-size: 4rem;
		color: var(--cta);
	}
	p {
		font-size: 2rem;
		opacity: 0.8;
		margin: 1rem 0;
		margin-top: 2rem;
	}
}
