.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 1000;
	a {
		color: #fff;
		text-decoration: none;
	}

	.nav {
		position: relative;
		margin: 0 auto;
		padding: 2rem 1rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.logo {
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				font-size: 2rem;
				svg {
					font-size: 4rem;
				}
			}
		}
		ul {
			list-style: none;
			li {
				margin: 0.8em;
				font-size: 2rem;
			}
		}
	}
	@media (max-width: 768px) {
		.nav {
			ul {
				position: absolute;
				bottom: -40vh;
				bottom: -370px;
				left: 0;
				width: 100%;
				background-color: #fff;
				min-height: 40vh;
				transform: translateX(100%);
				padding-top: 2rem;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
				list-style: none;
				opacity: 0;
				transition: transform 0.3s ease-in-out, opacity 0.5s;
				&.open {
					transform: translateX(0);
					opacity: 1;
					li {
						a {
							color: #000;
						}
					}
				}
				li {
					margin: 0.8em;
					font-size: 2rem;
				}
			}
		}
	}
	@media (min-width: 768px) {
		.hamburger {
			display: none;
		}
		.nav {
			transition: transform 0.3s, background-color 0.3s;
			&.scrolled {
				padding: 1rem;
				transform: translateY(-35px);
				background-color: var(--bg);

				.logo {
					a {
						color: #000;
					}
				}

				ul {
					li {
						a {
							color: #000;
						}
					}
				}
			}
			ul {
				display: flex;
				li {
					a {
						transition: color 0.3s;
						&:hover {
							color: var(--cta);
						}
					}
				}
			}
		}
	}
}
